<h1>Edit Comment!</h1>

<%= render partial: "layouts/errors", locals: {object: @comment} %>

<%= form_for(@comment) do |f|%>

  <%= f.label :item %>
  <%= f.collection_select :item_id, Item.all, :id, :title %>

  <%= f.label :content %>
  <%= f.text_field :content %>


  <%= f.submit %>

<% end %>