<% if @comment.item %>
    <h1>Add a Comment for <%= @comment.item.title %>! </h1>
<% else %>
    <h1>Add a Comment!</h1>
<% end %>

<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this@item from being saved:</h2>

    <ul>
      <% @comment.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_for([@comment.item, @comment]) do |f| %>

    <% if !@comment.item %>
        <%= f.label :item %>
        <%= f.collection_select :item_id, Item.all, :id, :title%>
    <% else %>
        <%= f.hidden_field :post_id %>
    <% end %>

    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.submit "Submit Comment" %>

<% end %>