<% if @bid.item %>
    <h1>Bid for <%= @bid.item.title %>! </h1>
<% else %>
    <h1>Add a Bid!</h1>
<% end %>

<%= render partial: "layouts/errors", locals: {object: @bid} %>


<%= form_for([@bid.item, @bid]) do |f| %>

    <% if !@bid.item %>
        <%= f.label :item %>
        <%= f.collection_select :item_id, Item.all, :id, :title%>
    <% else %>
        <%= f.hidden_field :item_id %>
    <% end %>

    <%= f.label :price %>
    $<%= f.text_field :price %>

    <%= f.submit "Submit Bid" %>

<% end %>