<!DOCTYPE html>
<html>
  <head>
    <title>BidWars</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div>
    <br>
    <% if logged_in? %>
    <%= link_to 'Home', user_path(current_user) %> |
    <%= link_to 'Post an Item', new_item_path %> | 
    <%= link_to 'Browse Items', items_path %> | 
    <%= link_to 'My Posts', user_items_path(current_user) %> |
    <%= link_to 'Bid on an Item', new_bid_path %> | 
    <%= link_to 'Logout', logout_path, method:'delete' %>

    <% else %>
    <%= link_to 'Sign Up', signup_path %> |
    <%= link_to 'Log In', login_path %>
    <% end %>
  </div>
  <br>
  <div>
    <%= @error %>
  </div>
    <%= yield %>
  </body>
</html>
